<article class="todo todo-add">
  <header>
    <h1>TODO</h1>
    <h2>Edit</h2>
  </header>
  <form class="form-horizontal" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="inputEditTaskTitle">Title</label>
      <input class="form-control" id="inputEditTaskTitle" type="text" [(ngModel)]="title">
    </div>
    <div class="form-group">
      <label for="inputEditTaskDescription">Description</label>
      <input class="form-control" id="inputEditTaskDescription" type="text" [(ngModel)]="description">
    </div>
    <footer>
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" (click)="back()" class="btn btn-default">Cancel</button>
    </footer>
  </form>
</article>